body{
    background-color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
}
/*navigation bar styles*/
nav{
    float: right;
    background-color: aliceblue;
    }
    nav ul{
        margin: 0;
        margin-right: 60px;
        padding: 0;
        list-style: none;
    }
    nav li{
        display: inline-block;
        margin-left: 30px;
        padding-top: 15px;
    }
    nav a{
        color: black;
    }
    nav a:hover{
        color: black;
    }
    .logo{
        margin-left: 60px;
        width: 150px;
        float: left;
        padding: 10 0;
    }
/*header styles*/
header{
    background-color: aliceblue;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}
header h1{
    text-align: center;
}
header img{
    display: block;
    text-align: center;
    width: 500px;
}
/*main styles*/
main{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 16px;
    line-height: 23px;
}
.zweiSpaltenUL{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 2.5%;
}
.zweiDritteleinDrittel{
    display: grid;
    grid-template-columns: auto 3fr;
    grid-column-gap: 2.5%; 
}
.column-left{ float: left; width: 33%; }
.column-right{ float: right; width: 33%; }
.column-center{ display: inline-block; width: 33%; }
h1{
    font-family: 'Raleway', sans-serif;
}

a{
    color: black;
}
td {
    border: 1px solid #999;
    padding: 0.1em 1em;
}
video{
    width: 300px;
    height: 300px;
}
.date{
    font-size: smaller;
}
.bild{
    margin-left: 150px;
    width: 170px;
    float: right;
    padding: 10 0;
    border-radius: 100px;
    border: solid gray 2px;
    max-width: 100%;
    width: 100%;

}
.profile{
    margin-left: 150px;
    width: 200px;
    float: right;
    padding: 10 0;
    border-radius: 100px;
    border: solid grey 2px;
}
.bild1{
    border: solid gray 2px;
    text-align: center;
}
.vorschau{
    margin-left: 20px;
    margin-top: 30px;
    float: right;
}
.paddingAdded{
    padding-top: 30px;
}
/*footer styles*/
footer{
    color:black;
    text-align: center;
    background-color: aliceblue;
    padding: 10px;
}
footer p{
    margin: 0;
}
footer ul{
    margin: 0;
    margin-right: 60px;
    padding: 0;
    list-style: none;
}
footer li{
    display: inline-block;
    margin-left: 30px;
    padding-top: 15px;
}
footer a{
    color: black;
}