body{
    background-color: lightyellow;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
}
/*navigation bar styles*/
nav{
    float: right;
    background-color: gold;
    }
    nav ul{
        margin: 0;
        margin-right: 60px;
        padding: 0;
        list-style: none;
    }
    nav li{
        display: inline-block;
        margin-left: 30px;
        padding-top: 15px;
    }
    nav a{
        color: black;
    }
    nav a:hover{
        color: black;
    }
    .logo{
        margin-left: 60px;
        width: 150px;
        float: left;
        padding: 10 0;
    }
/*header styles*/
header{
    background-color: gold;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}
header h1{
    text-align: center;
}
header img{
    text-align: center;
    width: 500px;
}
/*main styles*/
main{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 23px;
}

h1{
    font-family: 'Oswald', sans-serif;
}

a{
    color: black;
}
td {
    border: 1px solid #999;
    padding: 0.1em 1em;
}
video{
    width: 300px;
    height: 300px;
}
.date{
    font-size: smaller;
}
/*footer styles*/
footer{
    color:white;
    text-align: center;
    background-color: gold;
    padding: 10px;
}
footer p{
    margin: 0;
}
