body{
    margin: 0;
}
/*navigation bar styles*/
nav{
float: right;
}
nav ul{
    margin: 0;
    margin-right: 60px;
    padding: 0;
    list-style: none;
}
nav li{
    display: inline-block;
    margin-left: 50px;
    padding-top: 15px;
}
nav a{
    color: black;
}
/*header styles*/
header{
    background: gold;
    height: 55px;
    width: 100%;
}
header h1{
    text-align: center;
}
.logo{
    margin-left: 60px;
    width: 150px;
    float: left;
    padding: 10 0;
}
/*main styles*/
main{

}
/*footer styles*/
footer{

}
