body{
    background-color: lightyellow;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
}
/*navigation bar styles*/
nav{
    float: right;
    background-color: gold;
    }
    nav ul{
        margin: 0;
        margin-right: 60px;
        padding: 0;
        list-style: none;
    }
    nav li{
        display: inline-block;
        margin-left: 30px;
        padding-top: 15px;
    }
    nav a{
        color: black;
    }
    .logo{
        margin-left: 60px;
        width: 150px;
        float: left;
        padding: 10 0;
    }
/*header styles*/
header{
    background-color: gold;
    padding-top: 100px;
    padding-bottom: 50px;
}
header h1{
    text-align: center;
}
/*main styles*/
main{

}
/*footer styles*/
footer{

}
