body{
    background-color: lightyellow;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
}
    /*navigation bar styles*/
    nav{
        float: right;
        background-color: gold;
        }
        nav ul{
            margin: 0;
            margin-right: 60px;
            padding: 0;
            list-style: none;
        }
        nav li{
            display: inline-block;
            margin-left: 30px;
            padding-top: 15px;
        }
        nav a{
            color: black;
        }
        nav a:hover{
            color: black;
        }
        .logo{
            margin-left: 60px;
            width: 150px;
            float: left;
            padding: 10 0;
        }
/* header styles */
header{
    background-color: gold;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}
header h1{
    font-size: 50px;
    color: black;
}
header h2{
    color: black;
    font-size: 30px;
}

/*main styles*/
main{
    margin: 0 auto;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
main img{
    max-width: 100%;
    float: right;
    width: 200px;
}
.profile{
    max-width: 100%;
    width: 200px;
}

h2{
    font-size: 35px;
    color:black;
    margin-top: 30px;
    margin-bottom: 10px;
}
a{
    color: black;
}
a:hover{
    color: gold;

}
/*footer styles*/
footer{
    color:white;
    text-align: center;
    background-color: gold;
    padding: 10px;
}
footer p{
    margin: 0;
}
footer ul{
    margin: 0;
    margin-right: 60px;
    padding: 0;
    list-style: none;
}
footer li{
    display: inline-block;
    margin-left: 30px;
    padding-top: 15px;
}
footer a{
    color: white;
}

